{{extends "base.html"}}

{{block head()}}
<script type="text/javascript" src="{{ basePath }}/static/bootstrap-confirmation.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#namespace').on('change', function (e) {
            window.location = '{{ basePath }}/' + this.value;
        });
        namespace = window.location.pathname;
        namespace = namespace.replace("{{ basePath }}", "");
        if (namespace == '/') {
            namespace = 'library';
        } else {
            namespace = namespace.split('/')[1]
        }
        $('#namespace').val(namespace);

        function populateConfirmation()  {
            $('[data-toggle=confirmation]').confirmation({
                rootSelector: '[data-toggle=confirmation]',
                container: 'body'
            });
        }
        populateConfirmation()
        $('#datatable').on('draw.dt', populateConfirmation)

        $('#datatable').DataTable({
            "pageLength": 25,
            "stateSave": true,
            "language": {
                "emptyTable": "No repositories in \"" + namespace + "\" namespace."
            }
        });
    });
</script>
{{end}}

{{block body()}}
<div style="float: right">
    <select id="namespace" class="form-control input-sm" style="height: 36px">
        {{range namespace := namespaces}}
        <option value="{{ namespace }}">{{ namespace }}</option>
        {{end}}
    </select>
</div>
<div style="float: right">
    <ol class="breadcrumb">
        <li class="active">Project</li>
    </ol>
</div>

<ol class="breadcrumb">
    <li><a href="{{ basePath }}/">{{ registryHost }}</a></li>
    {{if namespace != "library"}}
    <li><a href="{{ basePath }}/{{ namespace }}">{{ namespace }}</a></li>
    {{end}}
</ol>

<table id="datatable" class="table table-striped table-bordered">
    <thead style="background-color:#ddd">
        <tr>
            <th>Repository</th>
            <th style="width:10%">Tags</th>
            {{if deleteAllowed}}
            <th style="width:10%">Action</th>
            {{end}}
        </tr>
    </thead>
    <tbody>
        {{range repo := repos}}
            <tr>
                <td><a href="{{ basePath }}/{{ namespace }}/{{ repo|url }}">{{ repo }}</a></td>
                <td>{{ tagCounts[namespace+"/"+repo] }}</td>
                {{if deleteAllowed}}
                <td>
                <a href="{{ basePath }}/{{ namespace }}/{{ repo|url }}/delete" data-toggle="confirmation" class="btn btn-danger btn-xs pull-right" role="button">Delete</a>
                </td>
                {{end}}
            </tr>
        {{end}}
    </tbody>
</table>
{{end}}
